* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #07080F;
}

#my_canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.heroSection {
    width: 100%;
    height: 100vh;
}


.navigationBar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navList {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333753;
    font-family: "DM Mono", monospace;
    list-style: none;
    font-size: 20px;
}

.listItem {
    margin-left: 10px;
    margin-right: 10px;
    cursor: default;
    user-select: none;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.heroText {
    font-family: "Instrument Serif", serif;
    font-size: 150px;
    margin: 50px;
    color: rgb(201, 209, 252);
    font-weight: 100;
    cursor: default;
    line-height: 150px;
}

.highlighted {
    font-style: italic;
    color: #668EAF;
}

.line {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #333753;
}

.aboutSection {
    width: 100%;
    height: 100vh;
}

.topNav {
    height: 50px;
    width: 100%;
    outline: rgb(224, 255, 224) 2px dotted;
}

.navName {
    color: #575d8d;
    margin: 40px;
    float: right;
    font-family: "DM Mono", monospace;
    font-size: 25px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.splitDiv {
    height: 80%;
    width: 90%;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splitDivItem {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgHolder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tomIMG{
    max-height: 100%;
    max-width: 100%;
}

.aboutText{
    color: #575d8d;
    font-family: "DM Mono", monospace;
    font-size: 1.6vw;
}

.line2{
    position: absolute;
    bottom: -100vh;
    width: 100%;
    height: 1px;
    background-color: #333753;
}

.workHolder{
    width: 100%;
    height: 100vh;
}

.workHolder{
    width: 100%;
    height: 100vh;
}